<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DA4-2 webshop</title>
    <link rel="stylesheet" type="text/css" href="../Style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../scripts/loginHandler.js"></script>
    <script src="../scripts/script.js"></script>
</head>

<body>

    <header>
            <nav id="topNav">
                <ul>
                    <li>Kontakt</li>
                    <li>Indkøbskurv</li>
                    <li><a id="logButton" onclick="loginPopUp();">Login</a></li>
                    <li id="register"><a id="regbutton"
                                         onclick="registerPopUp();">Register</a>
                    </li>
                </ul>
            </nav>
            <div id="botNav">
                <ul>
                    <li></li>
                    <li></li>
                    <li><div id="loginForm">
                        <form name="loginform" method="post">
                            <label for="usr">User name</label>
                            <input id="usr" name="usr"
                                   placeholder="username" required>
                            <br />
                            <label for="psword">Password</label>
                            <input id="psword" type="password" name="pword"
                                   placeholder="password" required>
                            <br />
                            <input id="login_button" type="button"
                                   value="Login" onclick="validateLogin()"/>
                            <p id="loginTracker">Not logged in</p>
                        </form>

                    </div>
                    </li>
                    <li>
                        <div id="registerForm">
                            <form name="registerform" method="post">
                                <label for="regUsr">User name</label>
                                <input id="regUsr" type="text" name="regUsr"
                                       placeholder="Username">
                                <br />
                                <label for="regPass">Password</label>
                                <input id="regPass" type="password"
                                       name="regPass"
                                       placeholder="Password">
                                <br />
                                <input type="button" value="Register"
                                       onclick="register()"/>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
    </header>


    <aside>
        <div id="logo"></div>

    </aside>

    <main>
        <table style="border: 1px solid gray">
            <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
            </tr>
            </thead>

            <tbody id="itemtablebody">

            </tbody>
        </table>
        <input type="button" value="Update table from server!" id="update">
    </main>



</body>
</html>